@import '../../style.scss';

body {
  position: relative;
}

.hero {
  width: 100%;
  height: calc(100vh - 7rem);
  background-color: #000000e7 !important;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  position: absolute;
  top: 7rem;
  z-index: 999;

  .wrapper {
    width: 800px;
    max-height: fit-content;
    background-color: #000;
    overflow-y: scroll;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-bottom: 2rem;

      @include mobile {
        height: 90%;
      }
    }

    h1 {
      width: 75%;
      font-size: 3rem;
      font-weight: 300;
      position: absolute;
      bottom: 25rem;
      left: 2rem;
      color: #fff;

      @include mobile {
        top: 1rem;
      }
    }

    .close {
      background-color: #000000b6;
      padding: 1.4rem;
      color: #fff;
      border-radius: 50%;
      font-size: 2rem;
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 2rem 0;
      position: absolute;
      bottom: 16rem;
      left: 2rem;

      @include mobile {
        align-items: flex-start;
        top: 30rem;
      }

      .box {
        display: flex;
        align-items: center;
        gap: 1rem;

        .playBtn {
          color: #000;
          font-size: 2rem;
          font-weight: 600;
          padding: 0.3rem 1rem;
          border-radius: 6px;
          border: none;
          display: flex;
          align-items: center;
          cursor: pointer;

          .icon {
            color: #000;
            border: none;
          }
        }
      }

      .icon {
        font-size: 4rem;
        color: #fff;
        border: 1px solid #666;
        padding: 0.3rem;
        border-radius: 50%;

        &:hover {
          border: 1px solid #fff;
          cursor: pointer;
        }
      }
    }

    .time {
      color: #fff;
      font-weight: 600;
      font-size: 1.4rem;
      position: absolute;
      left: 2rem;
      bottom: 15rem;

      @include mobile {
        top: 9rem;
      }

      .match {
        color: rgb(65, 241, 65);
      }
      .year {
        margin: 0 0.7rem;
      }
      .age {
        border: 1px solid #999;
        padding: 0.2rem;
      }
      .min {
        margin: 0 0.7rem;
      }
      .quality {
        border: 1px solid #999;
        padding: 0.2rem;
      }
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4rem;
      margin: 2rem 0;
      position: absolute;
      left: 2rem;
      bottom: 5rem;

      @include mobile {
        align-items: flex-start;
        top: 10rem;
      }

      .desc {
        flex: 2;
        color: #fff;
        font-size: 1.4rem;
      }

      .right {
        flex: 1;
        color: #fff;
        font-size: 1.4rem;

        .genres {
          margin-bottom: 1rem;
        }
      }
    }

    .more {
      display: flex;
      justify-content: space-evenly;
      gap: 1rem;
      flex-wrap: wrap;

      .heading {
        font-size: 2rem;
        width: 100%;
        padding: 0 2rem;
        color: #fff;
      }
    }
  }
}
