@import '../../style.scss';

.navbar {
  background-color: #000000e3;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 6rem;
  position: sticky;
  top: 0;
  z-index: 999;

  @include mobile {
    padding: 1rem;
  }

  .left {
    flex: 1;
    display: flex;
    align-items: center;

    .logo {
      text-decoration: none;
      font-size: 3rem;
      color: red;
    }

    ul {
      list-style: none;
      margin-left: 2rem;
      display: flex;
      gap: 1.2rem;

      li {
        a {
          text-decoration: none;
          font-size: 1.8rem;
          color: #fff;

          &:hover {
            color: #ffffff90;
          }
        }
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;

    @include mobile {
      display: none;
    }

    .icon {
      font-size: 3rem;
      color: #fff;
      cursor: pointer;
    }
    input {
      padding: 1rem;
      outline: none;
      font-size: 1.4rem;
      background-color: #000;
      border: 1px solid #fff;
      color: #fff;
      cursor: pointer;
    }
    .imgIcon {
      height: 4rem;
      cursor: pointer;
    }
  }
}
