@import '../../style.scss';

.trailer {
  width: 100%;
  height: 100vh;
  background-color: #000;
  overflow: hidden;

  .wrapper {
    height: 100vh;
    width: 200px;
    position: relative;

    .video {
      width: auto;
      height: 100%;

      @include mobile {
        height: 20%;
        width: 100%;
      }
    }

    .icon {
      font-size: 4rem;
      color: #fff;
      position: absolute;
      top: 6rem;
      left: 3rem;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid #999;
      }
    }
  }
}
